body {
	font-size:15pt;
	font-family: Georgia, Helvetica, Arial, sans-serif;
	background-color: #703700;
}

A:link {color: #025666; text-decoration: none}
A:visited {color: #025666; text-decoration: none}
A:active {color: #025666; text-decoration: none}
A:hover {text-decoration: none; color: #2F9EB3;}

p {
  margin: .4em;
}

div.intro
{
	font-size: 25pt;
	color: red;
	text-align: center;
	padding-bottom: 0px;
}

div.subintro
{
	font-size: 20pt;
	padding-left: 60px;
    padding-right: 60px;
	padding-bottom: 0px;
}

.englishQuote{
    padding-left: 25  px;
    padding-right: 25 px;
    font-style: italic;
   color: #703700;	
}

tr.subtitle{
	font-weight: bold;
	color: #720000;
	font-size: 150%;
	padding-bottom: 12 px;
}

span.booktitle
{
    font-weight: bold;
    font-size: 125%;
}

div.title
{
    color: #FFFFFF;
    font-size:xx-large;
    font-family: Georgia, Helvetica, Arial, sans-serif;
}

td.book
{
    padding-bottom: 0px;
    padding-right: 10px;
}

td.book_image
{
    padding-bottom: 20px;
    padding-right: 10px;
}

tr.booktr
{
    margin-bottom: 20px;
}

td.main
{
    padding: 20px; 
    width: 700px;
    background-color:#deb887;
}